 <aside class="sidebar">

    <!-- TOP -->
    <div class="sidebar-top">

      <!-- LOGO -->
      <a routerLink="" class="logo-wrapper">
        <img src="/revisee_logo.png" class="img-fluid" alt="">
      </a>

      <!-- NAVIGATION -->
      <nav class="nav-menu">

        <!-- <a href="" class="nav-item  active">
            <div class="icon-wrapper">
                <i class="ph ph-house"></i>
            </div>
          
          <span>Home</span>
        </a> -->

        <a
          routerLink="/app/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
            <div class="icon-wrapper">
                <i class="ph ph-house"></i>
            </div>
          
          <span>Home</span>
        </a>

        <a
          routerLink="/app/dashboard"
          fragment="learning-library"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          <div class="icon-wrapper">
            <i class="ph ph-file-text"></i>
          </div>
          
          <span>My Learning</span>
        </a>

        <a 
          routerLink="/app/revise"
          routerLinkActive="active"
          class="nav-item"
        >
          <div class="icon-wrapper">
            <i class="ph ph-pencil-line"></i>
          </div>
          
          <span>Revise</span>
        </a>

        <a 
          routerLink="/app/labels"
          routerLinkActive="active"
          class="nav-item"
        >
          <div class="icon-wrapper">
            <i class="ph ph-tag-simple"></i>
          </div>
          
          <span>Topics</span>
        </a>

      </nav>
    </div>

    <!-- BOTTOM -->
    <div class="sidebar-bottom">

      <!-- NOTIFICATION -->
      <div class="notification-btn">
        
        <i class="ph ph-bell"></i>
        <div class="notification-dot"></div>
      </div>

      <!-- PROFILE -->
      <div class="profile-avatar">
        <i class="ph ph-user" aria-hidden="true"></i>
        <span class="sr-only">Account</span>
      </div>

      <div>
        <button class="logout-btn"
          type="button"
          aria-label="Log out"
          (click)="onLogout()"
        >
          <i class="ph ph-sign-out"></i>
        </button>
        
      </div>

    </div>

  </aside>
